
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<div>
  <h2 class="heading">WELCOME TO ECOM WEBSITE</h2>
  
</div>




<div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="menu-section-heading">EXPLORE PRODUCTS</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/mobile.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">MOBILES</h2>
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/laptop.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">LAPTOPS</h2>
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/home-appliances.webp" class="menu-item-image w-100" />
            <h2 class="menu-card-title">HOMEAPPLIANCES</h2>
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/fashion.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">FASHIONS</h2>
  
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/sports.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">SPORTSHUB</h2>
          </div>
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-4 pointer" (click)="gotoLogin()">
          <div class="shadow menu-item-card p-3 mb-3">
            <img src="../../../assets/Images/tv.jpg" class="menu-item-image w-100" />
            <h2 class="menu-card-title">TELEVISION</h2>
          </div>
  
        </div>

        <!-- <div class="footer-basic">
          <footer>
              <div class="social"><a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a><a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/i/flow/login"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a></div>
              <ul class="list-inline">
                  <li class="list-inline-item"><a href=''>Home</a></li>
                  <li class="list-inline-item"><a href="#">Services</a></li>
                  <li class="list-inline-item"><a href='aboutus'>About</a></li>
                  <li class="list-inline-item"><a href="#">Terms</a></li>
                  <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
              </ul>
              <p class="copyright">Edubridge Project © 2023</p>
          </footer>
      </div>


        
 -->
